//Default button
.button
  color: $light //should get the colors out of here. make a mixin maybe
  border: 3px solid $light
  transition: all .3s ease-in
  font-weight: 500
  font-size: 3em
  text-decoration none
  text-transform: uppercase
  height: 50px
  padding: 0 40px
  border-radius: 30px
  appearance: none //why?? accessibility?
  cursor: pointer //why? seems to be default on chrome
  &:hover, &:focus
    background-color: invert($bg-light)
    color: white
    border-color: white
    
//Container for all buttons
.buttons
  display: flex
  flex-flow: row wrap
  align-items: center
  justify-content: space-between
  width: 100%
  border-bottom: 3px solid complement($bg-light)
  border-top: 3px solid complement($bg-light)

//Default button container
.button1
  margin-bottom: 2em
  display: flex
  align-items: center
  justify-content: center
  width: 33%

//3D "Clickable" button
//Only clicks on hover
.button-3d
  background-color: #FFF
  box-shadow: 0 7px 0 $light, 0 8px 3px rgba(0, 0, 0, 0.3)
  transition .15s all ease-in
  &:hover, &:focus
    background-color: #FFF
    border-color: $light
    color: $green2
  &:active
    background-color: #FFF
    border-color: $light
    color: $light
    box-shadow 0 3px 0 $light
    margin-top: 4px //moves lower elements down 4px. Fixed w/ container
    display: block

//A "stoplight" that changes color and text. WIP
.stop-light 
  font-size: 2em
  font-weight: 700
  width: 100px
  height: 100px
  background-color: desaturate(red, 50%)
  border-color: white
  color: white
  transition: background-color .1s ease-in
  border-radius: 100px
  box-shadow: 0 7px 0 $light, 0 8px 3px rgba(0, 0, 0, 0.3)
  padding: 0em !important
  display: flex
  align-items: center
  justify-content: center
  position: relative
  // overflow: hidden
  z-index: 1
  &:hover, &:focus
    background-color: $green
    color: white
    border-color: white
  .content
    transition: 0.3s ease 0s
    padding: 1em
    position: absolute
  .visible
    color: rgba(255, 255, 255, 100)
    left: auto
    right: 0%
    position: relative
    margin-right: 1.5em
    &:hover, &:focus
      color: rgba(255, 255, 255, 0)
      left: auto
      right: 200%
  .hidden
    top: 50%
    left: auto
    right: -100%
    margin-top: -0.5em
    position: absolute
    width: 100%
    &:hover, &:focus
      left: auto
      right: 0%
    //make it say GO on hover - starting to work
    //make it go yellow for a bit
    //before back to red when cursor moves away

//class to square a button
.button-square
  border-radius: 0
  
//A "normal" button. A normal, ugly button
.button-normal
  border-radius: 3px
  font-size: 2em
  width: 70px
  height: 40px
  padding: 0
  margin: 0
  border: 0
  background-color: $green
  
