ctr(".ctrTest",{
  width: 1200px
  height: 400px
  background-color: $green
  margin-top: 1em
  display: flex
  flex-flow: row wrap
  justify-content: space-around
  align-items: center
  comp: {
    ".ctrBox": {
      display: flex
      justify-content: center
      align-items: center
      hover: {
        on: {
          background-color: $orange
          height: 220px
          width: 220px
          color: white
          font-size: 2em
        }
        non: {
          background-color: $purp
          height: 200px
          width: 200px
          color: $purp
          font-size: 1em
        }
      }
    }
  }
})