ctr(".ctrTest",{
  width: 1200px
  height: 400px
  background-color: $green
  box-shadow: $box-shadow
  display: flex
  flex-flow: row wrap
  justify-content: space-around
  align-items: center
  comp: {
    ".ctrBox": {
      display: flex
      justify-content: center
      align-items: center
      height: 200px
      width: 200px
      box-shadow: $box-shadow
      cursor: pointer
      hover: {
        on: {
          background-color: $orange
          color: white
          font-size: 2em
          transform: scale(1.1)
        }
        non: {
          background-color: $purp
          color: $purp
          font-size: 1em
          transform: scale(1)
        }
      }
    }
  }
})