@import 'variables'
@import 'buttons'

body 
  font-family: Georgia, serif
  font-size: 16px
  background: $bg-light
  color: default-text
  display: flex
  flex-flow: column wrap
  align-items: center
  text-align center
  height: 800px
  
/*.intro
  border: 2px solid whit*/e
  
h1 
  font-size: 2em
  margin: 0.5em 1em 1em

  & > small 
    color: darken($light, 40%)
    font-size: 70%
  

