@import 'variables'
@import 'mixins'
@import 'test'
@import 'ctrTest'
@import 'menu'
@import 'flipgrid'
@import 'pseudo'
@import 'anim'
@import '3d'
@import 'postit'

// // @import 'buttons'

/*hoverBounce($class, top = 0, bottom = 0, right = 0, left = 0)
  {$class}
    height: 50px
    width: 50px
    top: top
    bottom: bottom
    right: right
    left: left
    position: absolute
    background-color: complement(orange)
    cursor: pointer
    &:hover
      animation-name: bounce
      animation-duration: 1s
      animation-iteration-count: infinite*/
      
