ctr(".menuBar",{
  // edit: true
  background-color: $light
  width: 1200px
  height: 50px
  margin-top: 1em
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  align-items: center
  comp: {
    ".logo": {
      margin-left: 1em
        hover: {
          on: {
            transform: scale(1.1)
          }
          non: {
            transform: scale(1)
          }
        }
      comp: {
        a: {
          font-size: 1.5em
          font-weight: 600
          font-family: sans-serif
          text-decoration: none
          padding: .4em
          hover: {
            on: {
              color: $green
            }
            non: {
              color: $purp
            }
          }
        }
      }
    }
    ul: {
      width: 50%
      display: flex
      flex-flow: row nowrap
      justify-content: space-around
      comp: {
        li: {
          list-style-type: none
          non: {
            key: ':last-child'
              border-right: 2px solid $light
          }
          hover: {
            on: {
              transform: scale(1.1)
            }
            non: {
              transform: scale(1)
            }
          }
          comp: {
            a: {
              text-decoration: none
              padding: 1em
              margin-right: 2em
              font-family: sans-serif
              font-weight: 600
              hover: {
                on: {
                  color: $purp
                }
                non: {
                  color: $green
                }
              }
            }
          }
        }
      }
    }
  }
})