body 
  background-color: $light
  display: flex
  flex-flow: column wrap
  align-items: center
  text-align center
  margin: 0 0 10em 0 //Don't forget this if not using reset
  & > div
    margin-bottom: 3em
    
.intro
  h1
    font-family: $font-family-h2
    color: $color-h2
    font-size: $font-size-h2
  small 
    color: $text
    font-size: 60%
  p
    color: $text
    font-family: $font-family-h2
    font-size: 1.5em

.cont
  height: 500px
  width: 800px
  background-color: orange
  position: relative
  &:hover
    .box
      background-color: darken(desaturate(complement(orange), 30%), 30%)
      

hoverBounce(".box", "top-left", 180px)
hoverBounce(".box2", "top-right", 180px)
hoverBounce(".box3", "bottom-left", 180px)
hoverBounce(".box4", "bottom-right", 180px)
