//colors
$default-bg = desaturate(#475CD1, 25%)
$light = rgba(71, 92, 250, 0.3)
$green = desaturate(#64CC14, 55%)
$green2 = #53B209
$orange = #FF5419
$purp = complement($green)
$text = lighten(black, 50%)
$banana = #ffe135

//font
$font = "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$font-size-h2 = 3em
$color-h2 = darken(#99FF00, 15%)
$font-family-h2 = Monospace

