//colors
default-bg = desaturate(#475CD1, 25%)
$bg-light = rgba(71, 92, 250, 0.3)
$light = $bg-light
$green = desaturate(#64CC14, 55%)
$green2 = #53B209
$orange = #FF5419
$purp = complement($green)
default-text = lighten(black, 30%)

//font
$font = "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$font-size-h2 = 3em
$color-h2 = #99FF00
$font-family-h2 = Monospace

